//<BUTTONS>====================================================================================================
.btn{
	display: inline-block;
	padding: 0px 0px;
	border-radius: 25px;
	&:hover{}
	&.fw{width: 100%;}
}
.btn-count {
	padding: 13px 17px;
	display: inline-flex;
	align-items: center;
	border: 1px solid #b1b1b1;
	transition: box-shadow 0.3s ease 0s;
	@media (min-width: 992px){
		&:hover{
			box-shadow: 0 0 1px 1px #b1b1b1;
		}
	}
  &__increase {
		color: #b1b1b1;
		font-size: 18px;
		line-height: 0;
  }

  &__counter {
		margin: 0px 20px;
  }

  &__decrease {
		color: #b1b1b1;
		font-size: 18px;
		line-height: 0;
  }
}
.btn-buy {
	background-color: #3a54d6;
	padding: 15px 35px;
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	transition: box-shadow 0.3s ease 0s;
	@media (min-width: 992px){
		&:hover{
			box-shadow: inset 0 0 2px 3px #ffffff;
		}
	}
	img {
		margin: 0px 10px 0px 0px;
	}
}
//</BUTTONS>====================================================================================================

//<INPUT>====================================================================================================
input[type=text],input[type=email],input[type=tel],textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.input{
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&.focus{}
	&.err{}
}
textarea.input{
	resize:none;
	padding: 0px 0px;
}
//<INPUT>====================================================================================================

//</INPUT>====================================================================================================
.shown {
	position: relative;
	&__input {
		border-radius: 4px;
		width: 100%;
		display: block;
		padding: 15px;
		color: rgba(255, 255, 255, 0.8);
		background: #333;
		outline: none;
		font-size: 18px;
		&:focus{
			background: #4b4b4b;
		}
		&:focus ~ .shown__label, &:not(:placeholder-shown) ~ .shown__label{
			top: -12px;
			font-size: 12px;
			color: rgba(255, 255, 255, 0.2);
		}
	}
	/* .shown__label */
	&__label {
		pointer-events: none;
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 50%;
		transform: translate(0%,-50%);
		left: 15px;
		font-size: 18px;
		color: rgba(255, 255, 255, 0.4);
	}
	textarea + .shown__label{
		top: 32px;
	}
}
//</INPUT>====================================================================================================
