// ==========================================================
.header {
  @include adaptiv-value('padding-top', 130, 50, 1);
  @include adaptiv-value('padding-bottom', 130, 50, 1);
  background-color: #3a54d6;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0px 0px 13px 0px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
.menu {
  &__list {
    display: flex;
    align-items: center;
    li {
      display: inline-flex;
      padding: 0px 18.5px;
      position: relative;
      &:last-of-type{
        &:after{
          content:'';
          display: none;
        }
      }
      &:after{
        content: url("../img/header/menu-arrow.png");
        max-width: 100%;
        position: absolute;
        height: 6px;
        right: 0;
        top: 0;
        transform: translate(50%,0%);
        display: flex;
        align-items: center;
      }
    }
  }
  &__link {
		transition: color 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #7e8fe7;
		@media (min-width: 992px){
			&:hover{
				color: #ffffff;
			}
		}
  }
}

// ==========================================================
