.preview {
  position: relative;
  &:before{
    content:'';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    @include adaptiv-value('height', 75, 30, 1);
    background-color: #fff;
    transform: translate(0%,-100%);
  }

  &__container {
    z-index: 2;
  }

  &__body {
    padding: 15px 125px 150px 125px;
    @media (max-width: 1450px){
      padding: 15px 45px 100px 45px;
    }
    @media (max-width: 1100px){
      padding: 15px 30px 60px 30px;
    }
    @media (max-width:$md4+px){
      padding: 15px 0px 15px 0px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }
  &__slide-big {
    
  }
  &__slide-small {
    margin: 0px 0px 0px 65px;
    @media (max-width: 1450px){
      margin: 0px 0px 0px 50px;
    }
    @media (max-width: 1100px){
      display: none;
    }
  }
}
