.product-slide {
  color: #000;
  &__body {
  }

  &__row {
    display: flex;
    @media (max-width:$md3+px){
      flex-wrap: wrap;
    }
  }

  &__info {
    flex: 1 1 auto;
    @include adaptiv-value('padding-top', 75, 30, 1);
    padding-right: 25px;
    @media (max-width:$md3+px){
      order: 2;
      padding-right: 0;
    }
  }

  &__image {
    flex: 1 0 500px;
    @include adaptiv-value('height', 500, 350, 1);
    background-color: #000;
    img{
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1100px){
      flex: 1 0 400px;
    }
    @media (max-width:$md2+px){
      flex: 1 0 350px;
    }
    @media (max-width:$md3+px){
      order: 1;
      flex: 1 1 auto;
    }
  }
}
.info-product-slide {
  &__suptitle {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #3a54d6;
    margin: 0px 0px 20px 0px;
  }

  &__title {
    font-size: 30px;
    color: #111111;
    @include adaptiv-value('margin-bottom', 70, 30, 1);
  }

  &__bottom {
  }
}
.bottom-info-product {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -22px;
  }

  &__column {
    flex: 0 0 55%;
    padding: 0px 22px;
    @media (min-width: 1300px){
      &:nth-child(odd) {
        flex: 0 0 45%;
      }
    }
    @media (min-width: 1300px){
      &:nth-child(3),&:nth-child(4) {
        margin: 0px 0px 40px 0px;
      }
    }
    @media (max-width: 1300px){
      flex: 1 1 100%;
      margin: 0px 0px 20px 0px;
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 3;
      }
      &:nth-child(5) {
        order: 5;
      }
      &:nth-child(6) {
        order: 6;
      }
    }
    &_price {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #111111;
    @media (min-width: 1300px){
      margin: 0px 0px 20px 0px;
    }
  }
  &__button {
    margin: 0px 20px 0px 0px;
    &:last-child{
      margin:0px;
    }
  }
}

.color-params {
  &__row {
    display: flex;
    align-items: center;
  }

  &__item {
    border-radius: 50%;
    margin: 0px 20px 0px 0px;
    width: 30px;
    height: 30px;
    background-color: #3a54d6;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
    position: relative;
    cursor: pointer;

    &.active {
      &:after {
        content: "";
        background-image: url("../img/icons/arrow-true.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }

    &_be {
      background-color: #23a5e8;
    }

    &_g {
      background-color: #5bb22c;
    }

    &_y {
      background-color: #feb312;
    }
  }
}

.size-params {
  height: 100%;
  display: flex;
  align-items: center;
  &__row {
    display: flex;
    align-items: center;
  }

  &__value {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #888888;
    margin: 0px 30px 0px 0px;
    cursor: pointer;
    &:last-child{
      margin:0px;
    }
    &.active {
      color: #3a54d6;
      font-weight: 600;
    }
  }
}

.price {
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: flex-end;
  &__discount {
    font-size: 20px;
    font-weight: 600;
    color: #111111;
    margin: 0px 10px 0px 0px;
  }

  &__full-price {
    font-size: 14px;
    color: #b1b1b1;
    text-decoration: line-through;
    @media (min-width: 1300px){
      flex-grow: 1;
    }
    @media (max-width: 1300px){
      margin: 0px 20px 0px 0px;
    }
  }

  &__percent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: #111111;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
