.products {

  &__container {
  }

  &__body {
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 25%;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 0px #ebebeb;
    @media (max-width: 1140px){
      flex: 0 0 33.333%;
    }
    @media (max-width:$md3+px){
      flex: 0 0 50%;
    }
    @media (max-width:$md4+px){
      flex: 1 1 100%;
    }
  }
}
.item-product {
  height: 100%;
  position: relative;
  z-index: 1;

  &:hover{
    .item-product__hover {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }
  }
  &__body {
    height: 100%;
    @include adaptiv-value('padding', 50, 35, 1);
    display: flex;
    flex-direction: column;
  }

  &__image {
    @include adaptiv-value('margin-bottom', 30, 15, 1);
    @include adaptiv-value('height', 205, 150, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 17px;
    color: #111111;
    margin: 0px 0px 12px 0px;
    flex-grow: 1;
  }

  &__price {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2344e8;
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
}
.hover-product {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__label {
    margin: 0px 0px 40px 0px;
    img{
      max-width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px 0px 25px 0px;
  }

  &__subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform: none;
    color: #666666;
    margin: 0px 0px 60px 0px;
  }

  &__more {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin: 0px 0px 0px 10px;
  }
}
