.slider-big {
  flex-grow: 1;
  position: relative;
  /* BUG FIX ?! */
  width: 1px;
  @media (max-width: 1100px){
    // overflow: hidden;
    margin: 0px -20px;
  }
  &__slide {
    @media (max-width: 1100px){
      padding: 0px 20px;
    }
  }
}

.slick-slider.slider-big{
	.slick-track,.slick-list {
  }
	.slick-list{
    @media (max-width: 1100px){
      overflow: hidden;
    }
  }
	.slick-track{
    display: flex;
  }
	.slick-slide{
  }
	.slick-dots{
		li{
			button{}
			&.slick-active{
				button{}
			}
		}
	}
  .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    border: none;
    padding: 15px; /* Arrow size */
            box-shadow: 4px -4px 0 1px #000 inset;
    -webkit-box-shadow: 4px -4px 000 inset;
    border: solid transparent;
    border-width: 0 0 10px 10px;
    transition: 0.2s;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  .slick-prev {
    left: -17px;
    transform: translate(0,-50%) rotate(45deg);
  }
  .slick-next {
    right: -17px;
    transform: translate(0,-50%) rotate(225deg);
  }
  &__slide{

  }
}

.slider-small {
  &__slide {
    position: relative;
    cursor: pointer;
  }
  .slider-small__slide.slick-current {
    &:after{
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #feb312;
    }
  }
}

.slick-slider.slider-small{
	.slick-track,.slick-list {}
	.slick-list{
    height: 300px;
    overflow: hidden;
  }
	.slick-track{}
	.slick-slide{}
	.slick-dots{
		li{
			button{}
			&.slick-active{
				button{}
			}
		}
	}
  &__slide{
  }
}