//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "var.scss";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixin.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Oswald";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "reset.scss";
body {
  font-family: $fontfamily, sans-serif;
  color: #fff;
	font-size: 14px;
  &.lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.page {
  position: relative;
  z-index: 10;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

// Подключение стилей для хедера
@import "header.scss";
// Подключение стилей для хедера ===================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
.main {
  &__container {
  }
  &__body {
    box-shadow: 0px -1px 4px 0px #ebebeb;
  }
}
@import "preview.scss";
@import "slider.scss";
@import "product-slide.scss";
@import "products.scss";
// =======================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
